<a href="https://colab.research.google.com/github/Nico-GP/Coding-Dojo_Track2/blob/main/Week5/Abalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CODING DOJO**: KNN Abalon
## Creado por: Nicolas Gonzalez
### Descripcion: Ejercicio de prediccion con KNN de edad y sexo de abalon
* Creado: 01/02/22
* Ultima Actualizacion: 01/02/22

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [88]:
import pandas as pd
ab = pd.read_csv('/content/drive/My Drive/CodingDojo/Week5/abalone.csv')
ab.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [89]:
ab.shape

(4176, 9)

Se nombran las columnas de la base de datos

In [90]:
ab.columns =['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']
ab.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.350     0.265  ...          0.0485         0.070      7
1   F   0.530     0.420  ...          0.1415         0.210      9
2   M   0.440     0.365  ...          0.1140         0.155     10
3   I   0.330     0.255  ...          0.0395         0.055      7
4   I   0.425     0.300  ...          0.0775         0.120      8

[5 rows x 9 columns]

In [91]:
ab.shape

(4176, 9)

In [92]:
import numpy as np

Se crea la columna de edad en años ("Age" =  "Rings" + 1.5)

In [93]:
ab.apply(lambda row: row.Rings + 1.5, axis=1)
ab['Age'] = ab.apply(lambda row: row.Rings + 1.5, axis=1)
ab.head()

  Sex  Length  Diameter  Height  ...  Viscera weight  Shell weight  Rings   Age
0   M   0.350     0.265   0.090  ...          0.0485         0.070      7   8.5
1   F   0.530     0.420   0.135  ...          0.1415         0.210      9  10.5
2   M   0.440     0.365   0.125  ...          0.1140         0.155     10  11.5
3   I   0.330     0.255   0.080  ...          0.0395         0.055      7   8.5
4   I   0.425     0.300   0.095  ...          0.0775         0.120      8   9.5

[5 rows x 10 columns]

In [94]:
ab.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
Age               0
dtype: int64

In [101]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [141]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier

#Prediccion de edad

Se seleccionan las mediciones deseadas

In [125]:
ab_med = ab.loc[:, ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']]
ab_med.head()

   Length  Diameter  Height  ...  Shucked weight  Viscera weight  Shell weight
0   0.350     0.265   0.090  ...          0.0995          0.0485         0.070
1   0.530     0.420   0.135  ...          0.2565          0.1415         0.210
2   0.440     0.365   0.125  ...          0.2155          0.1140         0.155
3   0.330     0.255   0.080  ...          0.0895          0.0395         0.055
4   0.425     0.300   0.095  ...          0.1410          0.0775         0.120

[5 rows x 7 columns]

In [126]:
medic = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
ab_med.loc[:, medic].head()

   Length  Diameter  Height  ...  Shucked weight  Viscera weight  Shell weight
0   0.350     0.265   0.090  ...          0.0995          0.0485         0.070
1   0.530     0.420   0.135  ...          0.2565          0.1415         0.210
2   0.440     0.365   0.125  ...          0.2155          0.1140         0.155
3   0.330     0.255   0.080  ...          0.0895          0.0395         0.055
4   0.425     0.300   0.095  ...          0.1410          0.0775         0.120

[5 rows x 7 columns]

Se crea matriz de mediciones

In [130]:
X1 = ab_med.loc[:, medic].to_numpy()

In [131]:
X1.shape

(4176, 7)

Se crea vector objetivo 1

In [132]:
y1 = ab.loc[:, 'Age'].values

In [133]:
y1.shape

(4176,)

Se estandarizan los datos

In [134]:
scaler.fit(X1)
X1 = scaler.transform(X1)

Se llama a la regresion K

In [135]:
knn1 = KNeighborsRegressor()
print(knn1)

KNeighborsRegressor()

Se ajustan los datos

In [136]:
knn1.fit(X1, y1)

KNeighborsRegressor()

In [137]:
prediccion_edad = knn1.predict(X1)

Se predicen los valores de edad

In [138]:
prediccion_edad

array([ 8.5, 11.1, 10.9, ..., 12.5, 11.5, 12.7])

Coeficiente R2

In [139]:
puntaje_edad = knn1.score(X1, y1)
print(puntaje_edad)

0.6582492859136977

**65,8% de la variacion en la edad se debe a las caracteristicas Length,	Diameter,	Height,	Whole weight,	Shucked weight, Viscera weight y Shell weight**

Raíz del error cuadrático medio (MSE)

In [143]:
np.sqrt(mean_squared_error(y1, prediccion_edad))

1.8842739996473779

El modelo tiene un error absoluto promedio de 1,88 unidades (años)

#Prediccion de sexo

Se seleccionan las caracteristicas deseadas

In [109]:
ab_car = ab.loc[:, ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings', 'Age']]
ab_car.head()

   Length  Diameter  Height  ...  Shell weight  Rings   Age
0   0.350     0.265   0.090  ...         0.070      7   8.5
1   0.530     0.420   0.135  ...         0.210      9  10.5
2   0.440     0.365   0.125  ...         0.155     10  11.5
3   0.330     0.255   0.080  ...         0.055      7   8.5
4   0.425     0.300   0.095  ...         0.120      8   9.5

[5 rows x 9 columns]

In [110]:
caract = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings', 'Age']
ab_car.loc[:, caract].head()

   Length  Diameter  Height  ...  Shell weight  Rings   Age
0   0.350     0.265   0.090  ...         0.070      7   8.5
1   0.530     0.420   0.135  ...         0.210      9  10.5
2   0.440     0.365   0.125  ...         0.155     10  11.5
3   0.330     0.255   0.080  ...         0.055      7   8.5
4   0.425     0.300   0.095  ...         0.120      8   9.5

[5 rows x 9 columns]

Se crea matriz de caracteristicas

In [114]:
X2 = ab_car.loc[:, caract].to_numpy()

In [115]:
X2.shape

(4176, 9)

Se crea vector objetivo 2

In [117]:
y2 = ab.loc[:, 'Sex'].values

In [118]:
y2.shape

(4176,)

Se estandarizan los datos

In [119]:
scaler.fit(X2)
X2 = scaler.transform(X2)

Se llama a la clasificacion K

In [120]:
knn2 = KNeighborsClassifier(n_neighbors=5)
print(knn2)

KNeighborsClassifier()

Se ajustan los datos

In [121]:
knn2.fit(X2, y2)

KNeighborsClassifier()

In [122]:
prediccion_sexo = knn2.predict(X2)

Se predicen los valores de sexo

In [145]:
prediccion_sexo

array(['I', 'F', 'M', ..., 'F', 'F', 'M'], dtype=object)

Coeficiente R2

In [148]:
puntaje_sexo = knn2.score(X2, y2)
print(puntaje_sexo)

0.6784003831417624

**67,8% de la variacion en la edad se debe a las caracteristicas Length,	Diameter,	Height,	Whole weight,	Shucked weight, Viscera weight, Shell weight, Rings y Age**

#Preguntas

¿Podrías haber utilizado la regresión lineal y la regresión KNN para resolver el problema de regresión?

Si, ambas herramientas resuelven problemas de regresion

¿Podrías haber utilizado la regresión lineal para el problema de clasificación?

No, la regresion lineal no puede resolver problemas de clasificacion